.post {
    margin-bottom: 15px;
    max-width: 800px;
}

.post__heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.post__body {
    margin-bottom: 10px;
}

.post-buttons-container {
    display: flex;
    justify-content: space-between;
}

.post-button + .post-button {
    margin-left: 15px;
}

.post__comments {
    margin-top: 20px;
}